body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Table1
{
   border-radius: 0px;
   border: 1px solid #000000;
   background-color: transparent;
   background-image: none;
   border-collapse: collapse;
   border-spacing: 0px;
   margin: 0;
}
#Table1 td, #Table1 th
{
   padding: 0;
}
#Table1 td div
{
   white-space: nowrap;
}
#Table1 p, #Table1 ul
{
   margin: 0;
   padding: 0;
}
#Table1 .cell0
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: left;
   vertical-align: top;
   height: 42px;
   color: #000000;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#Table1 .cell1
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: left;
   vertical-align: top;
   width: 52px;
   height: 42px;
}
#Table1 .cell2
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   text-align: left;
   vertical-align: top;
   width: 458px;
   height: 42px;
}
